::selection {
  background-color: rgb(204, 146, 39);
  color: #ffffff;
}
body {
  margin: 0;
  padding: 0;
}

.ceiling {
  width: 100%;
  height: 70px;
}

button {
  cursor: pointer;
  background-color: transparent;
}