.profileBlock {
  width: 100%;
  min-height: 100vh;
  color: #333;
  display: flex;
  flex-direction: column;
  
  .personalsBlock {
    display: grid;
    place-items: center;
    //grid-template-columns: 1fr 1fr;
    height: 400px;
    margin-top: 60px;
    padding-bottom: 5vh;
    //margin-top: 50vh;
    //transform: translateY(-50%);
    background-color: rgba(0,0,0,0.05);


    .firstColumn {
      grid-column: 1;
      padding-top: 5vh;
      display: flex;
      flex-direction: column;
      align-items: center;
  
      .avatar {
        z-index: 1;
        width: 250px;
        height: 250px;
        /*border: #333 5px solid;*/
        /*border-radius: 180px;*/
        background-size: cover;
        background-repeat: no-repeat;
      }
      .username {
        text-align: center;
        margin-top: -10px;
        font-size: 30px;
        font-weight: bold;
        background-color:rgb(204, 146, 39);
        color: #fff;
        padding: 10px 20px;
        transform: rotate(-5deg);
        margin-bottom: 5vh;
      }
      .last_login {
        margin: 0vh 0;
      }
    }
    .secondColumn {
      grid-column: 2;
      .personalInfo, .accountInfo {
        font-size: 12px;
        border-bottom: rgb(204, 146, 39) 3px solid;
        width: 40vw;
        &>h1 {
          margin-bottom: 5px;
        }
        &>p, &>ul {
          font-size: 16px;
        }
        &>ul {
          li {
            font-size: 16px;
          }
        }
      }
    }
  }
  .postsBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    .h1_wrapper {
      position: relative;
      height: 50px;
      margin-bottom: 40px;
      display: grid;
      place-items: center;
      &:before {
        content: "";
        z-index: 0;
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        background-color: rgb(62, 110, 59);
        transform: rotate(2deg);
        padding: 5px;
      }
      &>h1 {
        position: relative;
        font-size: 30px;
        z-index: 1;
        color: #fff;
        margin: 0;
      }
    }

    .lastPostsList {
      margin: 5vh 0;
      padding: 5px 8px;
      width: 60vw; 
      background-color: rgba(255,255,255,0.3);
      border-radius: 5px;

      .lastPost {
        border:rgb(62, 110, 59) 1.5px solid;
        border-radius: 5px;
        padding: 15px 30px;
        .postHead {
          display: grid;
          margin-bottom: 20px;
          .postLink a{
            grid-column: 1;
            color: rgb(62, 110, 59);
            text-transform: uppercase;
            text-decoration: none;
            font-weight: bold;
            font-size: 20px;
          }
          .postDate {
            grid-column: 2;
            text-align: right;
          }
        }
        .postContent {
          font-size: 14px;
        }
      }
    }
  }

}

/*.profileBlock{
  margin-top:100px;
  width:500px;
  background-color: lightyellow;
  border-radius:10px;

  .avatar{
    margin:5px;
    width:100px;
    height:100px;
    float:left;
    background-color:silver;
    border-radius:10px;
  }

  .basicInfo{
    float:left;
    margin-left:10px;

    .nickname{
      max-width:350px;
      font-size:20px;
      margin-top:10px;
      margin-bottom:10px;

    }

    .description{
      max-width:350px;
    }
  }

  .lastPostsHeader{
    margin-left:10px;
    
  }

  .lastPostsList{
    margin:20px;

    .lastPost{
      padding:5px;
      position:relative;
      width:calc(100% - 10px);
      background-color: burlywood;
      border-radius:10px;
      
      margin-bottom:20px;

      .postLink{
        margin-left:10px;
      }

      .postDate{
        position:absolute;
        text-align:right;
        right:0px;
        top:5px;
        margin-right:10px;
      }

      .postContent{
        padding:10px 5px 5px 5px;
        width:calc(100% - 10px);
      }

    }
  }
}*/