.registerContainer {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
 
  .register {
    grid-row: 1;
    grid-column: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
  
    &>h1 {
      color: #333;
    }
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
  
      input {
        border: noen;
        width: 30vw;
        &:focus{
          outline:none;
        }
  
        &:focus {
          outline: rgb(204, 146, 39) 2px solid;
        }
        padding:10px;
        margin: 5px 0;
        /*background: linear-gradient(0deg, rgba(255,255,255,255) 0%, rgba(255,255,255,0) 100%);
        border:none;
        border-bottom:black 1px solid;
        margin-bottom:10px;*/
      }
      .inputError {
        min-height: 20px;
      }
      button {
        margin-top:15px;
        border-radius: 5px;
        width: 200px;
        height: 35px;
        background-color:rgb(204, 146, 39);
        border: none;
        color: #fff;
  
  
        &:focus{
          filter: brightness(105%);
          outline:none;
        }
        &[disabled] {
          filter: grayscale(100%) !important;
          cursor: default;
        }
      }
  
      .error{
        /*background:lightcoral;*/
        align-self: flex-start;
        padding:5px;
        height:20px;
        border-radius:10px;
        font-size: 14px;
        color: rgb(255, 20, 20);
        vertical-align: text-bottom;
      }
    }
  }
}
